<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
<%- include("./partials/navbar.ejs") %>

  <div class="create-task content">
    <form action="/tasks/create" method="POST">
      <label for="name">Task name:</label>
      <input type="text" id="name" name="name" required>
      <label for="description">Task body:</label>
      <textarea id="description" name="description" required></textarea>
      <button>Submit</button>
    </form>
  </div>

</body>
<%- include("./partials/footer.ejs") %>


</html>